<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848644210356-hbegkg03bg6ourrav9l9l9nc83vttbvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848644210356-hbegkg03bg6ourrav9l9l9nc83vttbvp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>848644210356-q2f1ljk126qqqhulq60jna4e09m5f8li.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgj5ebGQOCEk0jbakRqLRNlOQHvOqxYSI</string>
	<key>GCM_SENDER_ID</key>
	<string>848644210356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker.dev</string>
	<key>PROJECT_ID</key>
	<string>flavour-test-51686</string>
	<key>STORAGE_BUCKET</key>
	<string>flavour-test-51686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848644210356:ios:9e7e2d73501e49002ba1e1</string>
</dict>
</plist>