<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891890956990-m2si9t71m9nmr0dh26cv251kgpvr50rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891890956990-m2si9t71m9nmr0dh26cv251kgpvr50rl</string>
	<key>API_KEY</key>
	<string>AIzaSyDdBy5xnSZPiBvm3xkHZJn0u2RM2fJ2WMw</string>
	<key>GCM_SENDER_ID</key>
	<string>891890956990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTrackr</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-ea663</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-ea663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891890956990:ios:e379805eb065ceeec4bcef</string>
</dict>
</plist>